:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color-scheme: dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #474747; */
    background-color: #444;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    /* max-width: 1280px;
    min-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

.section {
    margin-top: 1rem;
    scroll-margin-top: 50px;
    padding: 1rem;
    background-color: #2f2f2f;
    box-shadow:
        0 1px 5px rgba(0, 0, 0, 0.2),
        0 2px 2px rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.item-button {
    padding: 0.25rem 0.5rem;
    /* margin: 1px; */
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    /* background: #3e1010; */
    background: #571c1c;
}

.green-text {
    color: #2ecc71;
}

.red-text {
    color: #e74c3c;
}
.item-button:hover {
    background: #7e417b;
}
.item-selected {
    background: #694c4c;
    color: #959595;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:disabled {
    /* background-color: #292929; */
    background-color: #3c3a40;

    /* border: 0px; */
    border: 1px solid transparent;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.checkbox-label {
    /* display: inline-flex; */
    align-items: center;
    border: 1px solid transparent;
    /* gap: 0.6rem; */
    /* margin: 0.6rem 0rem; */
    /* background: #2a2a2a; */
    background-color: #1a1a1a;
    /* color: #fff; */
    /* padding: 0.4rem 0.8rem; */
    padding: 0.6em 1.2em;
    /* border-radius: 0.5rem; */
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    /* font-size: 1rem; */
    /* font-size: 1em; */
    font-weight: 500;
    font-family: inherit;
    transition: background 0.2s ease;
    /* transition: border-color 0.25s; */
}
.checkbox-label:hover {
    background: #333;
}
/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

pre,
code {
    background-color: #412c2c;
}
